<!DOCTYPE html>
<head>
    <title>Login Page</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   	<!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <style>
      body {
        background-image: url("static/img/elec.jpg" )
      }
    </style>
    <div class = "main">

        <p class = 'text-center'>LOGIN:</p>
    </div>
    <div class = "check">
      <div class = 'text-center'>
        <form name = "mainform" id = "formlog" action = "/login" method = "POST" >
            USN:<input type = "text"  placeholder="Enter your USN" name = "pwd" maxlength="6">
            <input type = "submit" value = "Log in" >
        </form>
      </div>
    </div>
    <!--
    <div class = "container">
        <form id = "forft"  method = "POST" name = "forft_opt">
            <button type ="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">FORFEI</button>
            <div id="demo" class="collapse">

            Description:


            <button name = "critical_act" class="btn btn-primary mb-2"  id = "act2" onclick = "forft_check(this);">CONFIRM</button>
        </div>
        </form>
    </div>
    !-->
    <div class = "flash_msg">
        {%  with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class =flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <script>
        function forft_check(elt){
            // var val = elt.value
            // console.log(val)
            var x = confirm("Do you want to FORFEIT");
            if (x == true){
                document.getElementById("act2").value = "forfeit";
                document.getElementById("forft").action = "/thank";
            }
            else{
                document.getElementById("act2").value = "1";
                document.getElementById("forft").action = "/";
            }
        }

    </script>


</body>
